/* File: css/style.css */

/* Custom styles */
body {
    background-color: #f4f4f9;
}

h1 {
    font-size: 3rem;
    color: #333;
}

.card-title {
    color: #333;
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
}
